*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: rgb(150, 150, 195);
    min-height: 100vh;
    border: 10px solid rgb(7, 7, 60);
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top_section h1{
    font-size: 60px;
    font-weight: bold;
    color: #1d1e1d;
}
.top_section h4{
    text-align: end;
    font-size: 30px;
}
.img_container{
    border-radius: 50%;
    overflow: hidden;
}
.img_container,img{
    margin-right: 20%;
    padding: right;
    width: 300px;
    height: 320px;
}
.about_section h2{
    font-size:70px;
    font-weight: 400;
}
.about_section p{
    font-size: large;
}
.biography_section h3{
    font-size: 30px;
}
.biography_section{
    margin-top: 50px;
}
footer{
    margin: 50px 0;
}
footer p{
   text-align: end; 
}